:root {
  font-size: 62.5%;
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin: 0;
  text-shadow: 0 0 0.5rem rgb(39, 10, 27);

  --text-purple: rgb(252, 35, 252);
  --dark-purple: rgb(66, 20, 66);
  --purple: rgb(88, 25, 88);
  --neon-purple: rgb(97, 3, 97);
}

#map {
  width: 80rem;
  height: 45rem;
  position: absolute;
  left: 5rem;
  top: 5rem;
}

#dialog-box {
  /* background: var(--purple);
  border: 1rem solid var(--dark-purple); */
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -40rem;
  display: flex;
  align-items: center;
}

.text-side {
  width: 60rem;
  height: 20rem;
  margin: 0;
  font-size: 1.5rem;
  color: var(--text-purple);
  display: flex;
  flex-direction: column;

  .text-box {
    background: var(--purple);
    border: 0.6rem solid var(--dark-purple);
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin: 2rem;

      span {
        white-space: wrap;
      }
    }
  }
}

.name {
  background: var(--neon-purple);
  border: 0.3rem dotted var(--dark-purple);
  width: 18rem;
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-top: auto;
}

.portrait {
  width: 20rem;
  height: 20rem;
  border: 0.8rem solid var(--purple);
  box-sizing: border-box;
  margin: 0;
}

.portrait-img {
  width: 100%;
  height: 100%;
}
