:root {
  font-size: 62.5%;
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin: 0;
  text-shadow: 0 0 0.25rem rgb(39, 10, 27);

  --text-purple: rgb(252, 35, 252);
  --dark-purple: rgb(66, 20, 66);
  --purple: rgb(88, 25, 88);
  --neon-purple: rgb(97, 3, 97);
}

$text-dark: rgb(14, 14, 14);
$text-light: rgb(243, 240, 240);

.music-toggle {
  top: 0;
  right: 0;
  margin: 0.5rem;
  width: 4rem;
  position: absolute;
  z-index: 5;
}

.music-toggle:hover {
  opacity: 0.5;
}

.music-toggle:active {
  transform: translateY(0.6rem);
}

.title-screen {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: 1s;

  img {
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  h1 {
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    font-size: 3.5rem;
    -webkit-text-stroke: 2px black;
    animation: blinker 2s linear infinite;

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
  }
}

.main-menu {
  background-color: rgb(50, 50, 50);
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

.options-menu {
  position: absolute;
  display: flex;
  background-color: rgb(14, 14, 14, 0.85);
  border: 1rem rgba(60, 60, 60) ridge;
  border-radius: 1rem;
  z-index: 2;
  width: 80%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .buttons {
    border-right: 1rem rgb(60, 60, 60) ridge;
    box-sizing: border-box;
    padding: 1rem;
    align-content: center;
  }

  .option-content {
    display: flex;
    box-sizing: border-box;
    width: 100%;

    .box {
      margin: 1rem;
      width: 100%;
      height: 100%;
      overflow: auto;

      h1 {
        font-size: 3rem;
      }

      p {
        font-size: 1.5rem;
      }

      pre {
        font-size: 1.5rem;
        white-space: pre-wrap;
      }

      .story-screen {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      .new-game-inputs {
        display: flex;
        align-items: center;
        flex-direction: column;

        h2 {
          font-size: 2rem;
          margin: 1rem 0 1rem;
        }

        .player-amount {
          display: block;
          text-align: center;

          button {
            margin-top: 0;
            width: 5rem;
            display: inline-block;
          }
        }

        .player-names {
          display: flex;
          align-items: center;
          flex-direction: column;
        }
      }

      .leaderboards-list {
        border: 1rem rgb(60, 60, 60) ridge;
        border-right: none;
        border-radius: 1rem;
        display: flex;
        width: 100rem;
        height: 30rem;
        position: absolute;

        .column {
          background-color: dimgray;
          width: 100%;
          height: 100%;
          border-right: 1rem rgb(60, 60, 60) ridge;
          box-sizing: border-box;

          .column-stat {
            font-size: 1.5rem;
            text-align: center;
            margin: 0;
            width: 100%;
            height: 5rem;
            border-bottom: 1rem rgb(60, 60, 60) ridge;
            box-sizing: border-box;
            background-color: $text-dark;
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
          }

          .player-stat {
            font-size: 1.5rem;
            text-align: center;
            margin: 0;
            width: 100%;
            height: 5rem;
            border-bottom: 1rem rgb(60, 60, 60) ridge;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
          }
        }
      }

      #dialog-box {
        /* background: var(--purple);
        border: 1rem solid var(--dark-purple); */
        display: flex;
        align-items: center;
        gap: 2px;

        .text-side {
          width: 60rem;
          height: 20rem;
          margin: 0;
          font-size: 1.5rem;
          color: $text-dark;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: silver;
          border: 1rem rgb(60, 60, 60) ridge;
          box-sizing: border-box;

          .name {
            text-align: center;
            margin: 0;
            color: $text-dark;
          }

          .text-box {
            box-sizing: border-box;
            margin: 0;
            width: 95%;
            height: 75%;
            display: flex;
            justify-content: center;
            align-items: center;

            .text {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              margin: 2rem;

              span {
                white-space: normal;
              }
            }
          }
        }
      }

      .portrait {
        border: 1rem rgb(60, 60, 60) ridge;
        box-sizing: border-box;
        margin: 0;
        height: 20rem;

        .portrait-img {
          height: 100%;
        }
      }
    }
  }
}

.quests-screen {
  position: absolute;
  background-color: rgb(14, 14, 14, 0.85);
  border: 1rem rgb(60, 60, 60) ridge;
  box-sizing: border-box;
  border-radius: 1rem;
  z-index: 2;
  width: 80%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  overflow: auto;
  display: none;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  button {
    bottom: 0;
  }

  .item-screen {
    display: flex;
    justify-content: center;
    gap: 3rem;

    pre {
      font-size: 1.5rem;
      white-space: pre-wrap;
    }

    .item {
      width: 20rem;
      padding: 1rem;

      .hint-title {
        margin-top: 1rem;
        font-family: "Courier New", Courier, monospace;
      }

      .hint {
        margin-top: 1rem;
      }

      img {
        width: 100%;
        border: 1rem rgb(60, 60, 60) ridge;
        box-sizing: border-box;
        border-radius: 1rem;
      }
    }
  }
}

.end-screen {
  position: absolute;
  background-color: rgb(14, 14, 14, 0.85);
  border: 1rem rgb(60, 60, 60) ridge;
  box-sizing: border-box;
  border-radius: 1rem;
  z-index: 2;
  width: 80%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  overflow: auto;

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }

  pre {
    font-size: 1.5rem;
    white-space: pre-wrap;
  }

  .button {
    position: sticky;
    margin-bottom: 1rem;
    bottom: 0;
  }

  img {
    width: 30rem;
    height: 30rem;
    transition: 1s;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}

.button,
.option,
.leave-minigame-button {
  transition: 0.275s;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
  text-shadow: -0.4rem 0.4rem 0.8rem black;
  border: 0.4rem solid grey;
  text-align: center;
  width: 15rem;
  height: 4rem;
  white-space: nowrap;
  position: relative;
  user-select: none;
  background: rgb(32, 32, 32);
  background-size: 100% 100%;
  box-shadow: -0.3rem 0.3rem 0.6rem 0.6rem rgba(129, 128, 128, 0.75);
  display: block;
  margin: 2rem 1rem;

  &:not(.disabled):hover {
    transform: translateY(0.6rem);
    background: rgb(16, 16, 16);
    box-shadow: 0.2rem 0.2rem 0.3rem 0.3rem rgba(129, 128, 128, 0.75);
  }

  &:not(.disabled):active {
    transform: translateY(0.8rem);
    background: rgb(8, 8, 8);
    box-shadow: -0.1rem 0.1rem 0.1rem 0.1rem rgba(129, 128, 128, 0.75);
  }

  &.disabled {
    filter: brightness(50%);
    pointer-events: none;
  }

  img {
    margin-right: 1rem;
  }
}
