.mainmenu {
  background-color: dimgray;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .option {
      padding: 1rem;
      margin: 1rem;
      width: 15rem;
      background-color: lightgray;
      border: none;
      transition-duration: 0.2s;
    }

    .option:hover {
      box-shadow: 0 0 30px 5px rgb(60, 60, 60);
    }

    .option:active {
      background-color: gray;
      box-shadow: 0 0 60px 5px rgba(60, 60, 60, 0.25);
      transform: translateY(4px);
    }
  }
}