:root {
  font-size: 62.5%;
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin: 0;
  text-shadow: 0 0 0.25rem rgb(39, 10, 27);
  overflow: hidden;

  --text-purple: rgb(252, 35, 252);
  --dark-purple: rgb(66, 20, 66);
  --purple: rgb(88, 25, 88);
  --neon-purple: rgb(97, 3, 97);
}

$text-dark: rgb(14, 14, 14);
$text-light: rgb(243, 240, 240);

.tooltip-box {
  position: absolute;
  z-index: 100;
  background: gray;
  padding: 0.5rem;
  border: dotted 0.5rem black;
  font-size: 1.5rem;
  display: none;

  pre {
    margin: 0;
  }
}

.player-stats {
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 0.5rem;
  user-select: none;

  .stat {
    display: flex;
    gap: 0;
    font-size: 3rem;
    margin: 0;
    background: rgb(61, 61, 61);

    .stat-icon {
      width: 3rem;
      margin: 0;
    }

    p {
      margin: 0;
      margin-right: 0.5rem;
    }
  }
}

@keyframes flying-up {
  0% {
    transform: translateY(0%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-200%);
  }
}

.floating-text {
  position: absolute;
  z-index: 25;
  animation-name: flying-up;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  user-select: none;
  pointer-events: none;
}

.greyed-out {
  filter: grayscale(1);
}

.unavailable {
  filter: grayscale(1);
  pointer-events: none;
}

.gold-shine {
  filter: drop-shadow(0 0 1rem gold);
}
.green-shine {
  filter: drop-shadow(0 0 1rem rgb(0, 255, 42));
}

.locked {
  filter: brightness(0.5);
  pointer-events: none;
}

.leave-minigame-button {
}

.pop-up-window {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 18rem;
  min-height: 14rem;
  background: $text-dark;
  border: 0.5rem solid $text-light;
  box-sizing: border-box;
  z-index: 100;
  font-size: 1.5rem;

  img {
    max-width: 12rem;
  }

  .drag {
    width: 100%;
    height: 3rem;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 1.2rem 0.4rem rgb(25, 25, 25, 0.7);
    cursor: move;
  }

  .content {
    position: relative;
    left: 0;
    box-sizing: border-box;
    padding: 1rem;
    margin-top: 5rem;

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        background: $text-dark;
        border: 0.2rem solid $text-light;
        font-size: 2rem;
        color: $text-light;
        padding: 0rem 1rem;

        &:hover {
          filter: brightness(1.5);
        }
      }
    }

    h2 {
      margin: 0;
    }
  }
}

.iconNameValue {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 2rem;
    }
  }
}

.container {
  .leave-minigame-button {
    position: absolute;
    top: 600px;
  }
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  background: darkred;
  user-select: none;
  font-size: 2rem;
  padding: 0rem 0.5rem;
  box-sizing: border-box;
  border: 0.1rem solid silver;

  &:hover {
    filter: brightness(1.5);
  }
}

@keyframes swoop-in-right {
  0% {
    left: -200%;
  }
  20% {
    left: 50%;
  }
  80% {
    left: 50%;
  }
  100% {
    left: 200%;
  }
}
@keyframes swoop-in-left {
  0% {
    right: -200%;
  }
  20% {
    right: 50%;
  }
  80% {
    right: 50%;
  }
  100% {
    right: 200%;
  }
}

.badass-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 5rem;
  z-index: 500;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  animation-name: swoop-in-right;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  margin: 0;
  text-decoration: underline;
}

.badass-bottom-text {
  position: absolute;
  top: calc(50% + 7rem);
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  font-size: 2rem;
  z-index: 500;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  animation-name: swoop-in-left;
  animation-fill-mode: forwards;
  margin: 0;
}

.clock {
  position: absolute;
  z-index: 500;
  font-size: 4rem;
}

.game {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  .top-bar {
    width: 100%;
    height: 5rem;
    background: $text-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 1rem;

    .quest-title {
      font-size: 2.5rem;
      vertical-align: center;
    }
  }

  .map-area {
    position: absolute;
    left: 0;
    top: 5rem;
    width: 100%;
    height: calc(100% - 23rem);

    .dice-rolling {
      position: absolute;
      z-index: 100;
      left: 50%;
      top: 50%;
      transform: translate(-50%);
    }

    .plane {
      position: absolute;
      z-index: 100;
      left: 50%;
      top: 50%;
      transform: translate(-50%);
      --angle: 0deg;

      img {
        width: 10rem;
        transform: rotate(var(--angle));
      }

      &.hide {
        display: none;
      }
    }

    #map {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .bottom-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18rem;
    z-index: 1;
    background: $text-dark;
    outline: 1rem rgb(60, 60, 60) ridge;
    outline-offset: -10px;
  }
}

.board,
.container {
  position: absolute;
  z-index: 300;
  display: grid;
  width: 900px;
  height: 900px;

  img {
    position: absolute;
    -webkit-user-drag: none;
    user-select: none;
  }

  .blank-image {
    src: url("../../images/blank.png");
    background: darkgray;
  }
}
