:root {
  font-size: 62.5%;
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin: 0;
  text-shadow: 0 0 0.25rem rgb(39, 10, 27);

  --text-purple: rgb(252, 35, 252);
  --dark-purple: rgb(66, 20, 66);
  --purple: rgb(88, 25, 88);
  --neon-purple: rgb(97, 3, 97);
}

$text-dark: rgb(14, 14, 14);
$text-light: rgb(243, 240, 240);

.game {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  .top-bar {
    width: 100%;
    height: 5rem;
    background: $text-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    .quest-title {
      font-size: 2.5rem;
      vertical-align: center;
    }
  }

  .map-area {
    position: absolute;
    left: 0;
    top: 5rem;
    width: 100%;
    height: calc(100% - 23rem);
    .plane {
      position: absolute;
      z-index: 10000;
      left: 40rem;
      top: 22.5rem;
      --angle: 0deg;

      img {
        width: 10rem;
        transform: rotate(var(--angle));
      }

      &.hide {
        display: none;
      }
    }

    #map {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .bottom-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18rem;
    background: gray;

    #dialog-box {
      /* background: var(--purple);
      border: 1rem solid var(--dark-purple); */
      position: relative;
      left: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      gap: 2px;

      .text-side {
        width: 60rem;
        height: 14rem;
        margin: 0;
        font-size: 1.5rem;
        color: $text-dark;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: silver;
        border: 0.5rem solid $text-dark;
        box-sizing: border-box;

        .name {
          text-align: center;
          margin: 0;
          color: $text-dark;
        }

        .text-box {
          box-sizing: border-box;
          margin: 0;
          width: 95%;
          height: 75%;
          display: flex;
          justify-content: center;
          align-items: center;

          .text {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin: 2rem;

            span {
              white-space: normal;
            }
          }
        }
      }
    }

    .portrait {
      border: 0.5rem solid $text-dark;
      box-sizing: border-box;
      margin: 0;

      .portrait-img {
        height: 16rem;
      }
    }
  }
}

.mainmenu {
  background-color: dimgray;
  width: 100%;
  height: 100%;
  margin: 0 auto 0;

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .option {
      padding: 1rem;
      margin: 1rem;
      width: 15rem;
      background-color: lightgray;
      border: none;
      transition-duration: 0.2s;
    }

    .option:hover {
      box-shadow: 0 0 30px 5px rgb(60, 60, 60);
    }

    .option:active {
      background-color: gray;
      box-shadow: 0 0 60px 5px rgba(60, 60, 60, 0.25);
      transform: translateY(4px);
    }
  }
}
