@font-face {
    src: url("/fonts/Chalkduster.ttf") format('truetype');
    font-family: Chalkduster;
}

.game-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/images/green-dirty-blackboard.jpg");
    background-color: #8f8989;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    width: 1000px;
    border-radius: 10px;
    z-index: 500;
    box-shadow: 0 8px 10px rgb(47, 47, 47),
    5px 0 10px rgba(0, 0, 0, 0.5), -5px 0 10px rgba(0, 0, 0, 0.5);
}


.main-container {
    display: flex;
    flex-direction: column;
    width: 850px;
    gap: 10px;
    padding: 60px 40px;
    justify-content: space-between;
    align-items: center;
}

.hangman-container {
    margin-left: 2rem;
}

.hangman-container img {
    user-select: none;
    max-width: 270px;
}

.hangman-container h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}

.main-container .display-boxes {
    gap: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.display-boxes .letter {
    width: 28px;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 3px solid #000;
    color: whitesmoke;
}

.display-boxes .letter.guessed {
    margin: -40px 0 35px;
    border-color: transparent;
    font-family: Chalkduster, sans-serif;
}

.display-boxes {
    margin-bottom: 0;
    padding: 0;
}

.main-container h2 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: Chalkduster, sans-serif;
    color: whitesmoke;
}

.main-container h2 b {
    font-weight: 600;
}

.main-container .guess-display b {
    color: #ff0000;
}

.main-container .keyboard {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
}

:where(.game-modal, .keyboard) button {
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    background: #353f8f;
}

.keyboard button {
    padding: 7px;
    width: calc(100% / 9 - 5px);
}

.keyboard button[disabled] {
    pointer-events: none;
    opacity: 0.6;
}

.keyboard button s {
    margin-left: 1rem;
}

.keyboard button:hover {
    background-color: dodgerblue;
}

.display-boxes.hidden {
    display: none;
}

h3 {
    text-align: center;
    font-family: Chalkduster, sans-serif;
    color: #1d8602;
}

h5 {
    text-align: center;
    font-family: Chalkduster, sans-serif;
    font-size: 24px;
    color: #b40101;
}

h4 {
    text-align: center;
    font-family: Chalkduster, sans-serif;
    font-size: 32px;
    color: whitesmoke;
}

.hint-container {
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

.hint-title {
    color: whitesmoke;
    font-family: Chalkduster, sans-serif;
    font-size: 20px;
}

.hangman-title {
    color: whitesmoke;
    font-family: Chalkduster, sans-serif;
}

