:root {
  font-size: 62.5%;
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin: 0;
  text-shadow: 0 0 0.25rem rgb(39, 10, 27);
  --text-purple: rgb(252, 35, 252);
  --dark-purple: rgb(66, 20, 66);
  --purple: rgb(88, 25, 88);
  --neon-purple: rgb(97, 3, 97);
}

.mainmenu {
  background-color: rgb(50, 50, 50);
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
  position: absolute;
}

.option-menu {
  position: absolute;
  display: none;
  background-color: rgb(14, 14, 14);
  border: none;
  border-radius: 1rem;
  z-index: 2;
  width: 80%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.option-menu .buttons {
  border: 1rem rgb(60, 60, 60) ridge;
  border-right: none;
  box-sizing: border-box;
  padding: 1rem;
  align-content: center;
}
.option-menu .buttons .option {
  width: 15rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(120, 120, 200);
  border: none;
  border-radius: 1rem;
  transition-duration: 0.2s;
  display: block;
}
.option-menu .buttons .option:hover {
  background-color: rgb(60, 60, 150);
}
.option-menu .buttons .option:active {
  background-color: gray;
  box-shadow: 0 0 60px 5px rgba(60, 60, 60, 0.25);
  transform: translateY(4px);
}
.option-menu .container {
  display: flex;
  border: 1rem rgb(60, 60, 60) ridge;
  box-sizing: border-box;
  width: 100%;
}
.option-menu .container .box {
  margin: 1rem;
}
.option-menu .container .box h1 {
  font-size: 3rem;
}
.option-menu .container .box p {
  font-size: 1.5rem;
}
.option-menu .container .box #dialog-box {
  /* background: var(--purple);
  border: 1rem solid var(--dark-purple); */
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 2px;
}
.option-menu .container .box #dialog-box .text-side {
  width: 60rem;
  height: 14rem;
  margin: 0;
  font-size: 1.5rem;
  color: rgb(14, 14, 14);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: silver;
  border: 0.5rem solid rgb(14, 14, 14);
  box-sizing: border-box;
}
.option-menu .container .box #dialog-box .text-side .name {
  text-align: center;
  margin: 0;
  color: rgb(14, 14, 14);
}
.option-menu .container .box #dialog-box .text-side .text-box {
  box-sizing: border-box;
  margin: 0;
  width: 95%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.option-menu .container .box #dialog-box .text-side .text-box .text {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
}
.option-menu .container .box #dialog-box .text-side .text-box .text span {
  white-space: normal;
}
.option-menu .container .box .portrait {
  border: 0.5rem solid rgb(14, 14, 14);
  box-sizing: border-box;
  margin: 0;
}
.option-menu .container .box .portrait .portrait-img {
  height: 16rem;
}

.button {
  padding: 1rem;
  margin: 1rem;
  width: 15rem;
  background-color: rgb(120, 120, 200);
  border: none;
  border-radius: 1rem;
  transition-duration: 0.2s;
}

.button:hover {
  background-color: rgb(60, 60, 150);
}

.button:active {
  background-color: gray;
  box-shadow: 0 0 60px 5px rgba(60, 60, 60, 0.25);
  transform: translateY(4px);
}

/*# sourceMappingURL=mainmenu.css.map */
